.cart_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: brown; 
    border-radius: 50px; 
    font-size: 1rem;
    margin: 1.2rem 0;
    width: 17vw;
    border: none;
    color: white;
    cursor: pointer;
    animation-name: cartUpdated;
    animation-duration: .3s;
}

.cart_button:hover {
    background-color: rgb(159, 13, 13); 
}

.cart_button span {
    margin: 0 .4rem;
}

.cart_icon {
    padding-top: .3rem;
}

.cart_counter {
    border-radius: 50%;
    background-color: rgb(165, 75, 42);
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes cartUpdated {
    0% {transform: scale(1);}
    25% {transform: scale(1.1);}
    50% {transform: scale(1.2);}
    75% {transform: scale(1.1);}
    100% {transform: scale(1);}
    
}