.card_container {
    width: 95vw;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    border-bottom: 1px solid grey;
}


@media (min-width: 600px) {
    
    .card_container {
        width: 600px;
    }
}